:root {
   --text-color: #757575;
   --page-color: #FFFFFF;
   --bg-title: #2F303A;
   --accent: #212121;
   --logo-color-web:#2196F3;
   --logo-color-studio:#000000;
}

/* body */
.body {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    width: 1600px;
    outline: 1px solid red;
    }

    /*Блочная панель */

/* Reset css */
h1, h2, h3,p, li, ul{
    margin: 0;
    padding: 0;
}


.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
 
/*  Хедер */
.site-nav {
    display: flex;
}
 /* Подводка убрать */
.item {
    outline: 1px  solid red;
}
.site-nav .item + .item {
    margin-left: 50px;
}

 /* Логотип */
.logo {
    margin-right: 94px;

    color: var(--logo-color-web);
    font-family: 'Raleway', cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.logo span {
    color: var(--logo-color-studio);
}

footer .logo span {
    color: var(--page-color);
}

 /* хеадер разделы */
.top-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--accent);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.02em;
}

/* подчеркивание и точки */
.list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}


/* изменение цвета хеадер разделы  */
.top-link:hover,
.top-link:focus {
  color: var(--logo-color-web);
}

.current {
  color: var(--logo-color-web);
}

.contacts-link:hover,
.contacts-link:focus {
 color: var(--logo-color-web);
}

/* хеадер почта/телефон */
.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .item +.item {
    margin-left: 52px;
}

.main {
    display: flex;
    align-items: center;
}


.contacts-link {
 color: var(--text-color);
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 list-style: none;
 text-decoration: none;
 letter-spacing: 0.02em;
}

/* Главный заголовок */
.title {
    outline: 1px  solid red;
    margin-top: 0;
    margin-bottom: 30px;
    outline: 1px  solid red;
    width: 696px;
    margin-left: auto;
    margin-right: auto;

    color: var(--page-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
}

/* кнопка */
.caption {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;

    background: var(--bg-title);
    width: 1600px;
   
}

.title-button {
    display: inline-block;
    border: transparent;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    margin-bottom: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--page-color);
    background-color: var(--logo-color-web);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* изменение цвета кнопки */
.title-button:hover,
.title-button:focus {
    background-color:#188CE8;
}

/* Загаловки h3 */
.title-text {
    margin-top: 0;
    margin-left:0 ;
    margin-bottom: 10px;
    

    color: var(--accent);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
}
/* Секция с текстом */
.blockquote {
    padding: 94px 0;
}

.text-section {	
    outline: 1px solid red;
    display:flex;
}

.benefits {
    outline: 1px  solid red;
}


.text-section .benefits + .benefits {
    margin-left: 30px;
}

/* Скрытый заголовок */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

/* абзацы после h3 */ 
.text {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
  }



/* Секция с фото */
.conteiner-foto {
    padding: 94px 0;
}

.item-foto {
    display: flex;
    justify-content:space-between;
    flex-basis:370px;
}

.item-foto {
    outline: 1px solid red;
}

 /* Заголовок h2 */
  .title-foto {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
    outline: 1px solid red;
   

   color: var(--accent);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.7;
   text-align: center;
   letter-spacing: 0.03em;
  }


    /* Команда ФИО */
.group {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.group-mine {
    margin-bottom: 30px;
    flex-basis:270px;
}

.team {
    margin-bottom: 10px;

    color: var(--accent);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}
.team-section {
    display: flex;
    padding: 94px 0; 
    background: #F5F4FA;
    width: 1600px;
    text-align: center;
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;
}
/* Должность */
.text-team {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}
/* Футер */
.footer {
    outline: 1px solid red;
    background: #2F303A;
    width: 1600px;   
}

.page-footer {
    width: 145px;
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.footer-logo {
margin-top: 60px;  
margin-bottom: 20px;   
}


.address .add + .add {
    margin-bottom: 9;
}

/* футер почта/телефон */
.address  {
    display: flex;
    width: 231px;
    padding-bottom: 60px;

    font-size: 14px;
    line-height: 2;
    background: var(--bg-title);
    list-style: none;
    color: currentColor;
    font-style: normal;
    letter-spacing: 0.03em;
}

.page-address {
    color: var(--page-color);
    text-decoration: none;
}

.page-address-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
/* изменение цвета футер */
.page-address:hover,
.page-address:focus {
 color: var(--logo-color-web);
}

.page-address-link:hover,
.page-address-link:focus {
 color: var(--logo-color-web);
}





/* Портфолио */

/* Загаловки */
.subject {
    color: var(--accent);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

 /* Подзаголовок */
.subtitle {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.03em;
}

/*  Список кнопок */
.btn {
    color: var(--accent);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    cursor: pointer;
    background: #F5F4FA;
    text-align: center;
    letter-spacing: 0.03em;
}
/* изменение цвета кнопок */

.btn:hover,
.btn:focus {
    background-color: var(--logo-color-web); 
    color: var(--page-color);
}


